{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <h4 class="mb-5">This is your dashboard, you can see all the documents you have signed here.</h4>
    <div class="m-5">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>File name</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.sig_id }}</td>
                        <td>{{ transaction.file_name }}</td>
                        <td>{{ transaction.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

