{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div>
        <h4 class="m-3">Introduction</h4>
        <p>
            This application enables the user to upload a pdf file and digitaly sign it at the click of a button.
            It has been created with the goal to streamline workspace processes by emulating a digital signature for intern use at LKW Walter AG.
            This version only serves as a Proof Of Concept therefore it has a primitive UI and only the basic functions.
        </p>
        <p>
            Further versions will include a user friendly and modern UI, and using Google Cloud Services instead of pdf.co.
        </p>
        <p class="m-5">
            Created by Gaal Csongor in 2025 as a final projet for CS50X.
        </p>
    </div>


{% endblock %}

